@charset "UTF-8";

/* ------------------------------------------- 
全体に共通する部分
-------------------------------------------- */

body {
  margin: 0;
  font-family: Meiryo;
  background-color: #F8F2EB;
}

/* ------------------------------------------- 
header
-------------------------------------------- */
header {
  background-color: #E6E6E6;
  display: flex;
}

.title {
  font-size: 1.5rem;
  padding: 20px 40px;
}

nav {
  padding: 10px;
}

ul {
  display: flex;
}

li {
  list-style: none;
  padding: 0 10px;
}

/* ------------------------------------------- 
main
-------------------------------------------- */

h1 {
  font-size: 38px;
  text-align: center;
}
h2 {
  text-align: center;
}

p {
  line-height: 2.0;
  text-align: center;
}

/* ------------------------------------------- 
footer
-------------------------------------------- */
footer {
  text-align: center;
}
