@charset "UTF-8";
body {
  margin: 0
}
nav {
  background: silver;
  padding: 10px
}

body {font-family: Meiryo;
      background-color: #fff09e
}

h1 {font-size: 38px;
    text-align: center;
}
h2 {text-align: center;
}

p {line-height: 2.0;
   text-align: center;
}
