@charset "UTF-8";

/* -------------------------------------------
全体に共通する部分
-------------------------------------------- */

body {
  margin: 0;
  font-family: Meiryo;
  background-color: #F8F2EB;
}

/* -------------------------------------------
header
-------------------------------------------- */

header {
  background-color: #E6E6E6;
  display: flex;
}

.title {
  font-size: 1.5rem;
  padding: 20px 40px;
}

nav {
  padding: 10px;
}

ul {
  display: flex;
}

li {
  list-style: none;
  padding: 0 10px;
}

/* -------------------------------------------
main
-------------------------------------------- */

h1 {
  font-size: 38px;
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  margin-top: 0
}

p {
  line-height: 2.0;
  text-align: center;
}

.okaimono-image {
  height: 110px;
  width: 110px;
}

.okaimono-manual {
  height: 50%;
  width: 50%;
}

.line {
  margin: 0 auto;
  text-align: center;
}


.photo1 {
  background-image: url(image/test.jpg);
  background-size: cover;
  height: 500px;
}

.photo2 {
  width: 650px;
  margin: 0 auto;
  text-align: center;
}

.manual {
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

article {
  font-size: 1.0rem;
  background-color: #ffffff;
  padding: 20px;
}

.btn{
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  color: #FFF;
  text-decoration: none;
  background: #fd9535;
  border-bottom: solid 2px;
  border-radius: 4px;
  font-weight: bold;
}

hr {
  border:0;
  border-top:thin
  height: 10px;
  border-top: dotted;
  border-color: green;
}

/* -------------------------------------------
footer
-------------------------------------------- */

footer {
  text-align: center;
  background-color: #88B844;
}
